[submodule "IsaacLab"]
	path = IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
[submodule "IsaacSim"]
	path = IsaacSim
	url = https://github.com/isaac-sim/IsaacSim.git
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "LeIsaac"]
	path = LeIsaac
	url = https://github.com/vitorcen/LeIsaac-Training
[submodule "BEHAVIOR-1K"]
	path = dependencies/BEHAVIOR-1K
	url = https://github.com/StanfordVL/BEHAVIOR-1K.git
[submodule "dependencies/Isaac-GR00T"]
	path = dependencies/Isaac-GR00T
	url = https://github.com/NVIDIA/Isaac-GR00T.git
[submodule "dependencies/Isaac-GR00T-N1.5"]
	path = dependencies/Isaac-GR00T-N1.5
	url = https://github.com/NVIDIA/Isaac-GR00T.git
[submodule "dependencies/Isaac-GR00T-N1.6"]
	path = dependencies/Isaac-GR00T-N1.6
	url = https://github.com/NVIDIA/Isaac-GR00T.git
[submodule "dependencies/MimicKit"]
	path = dependencies/MimicKit
	url = https://github.com/xbpeng/MimicKit.git
